<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="6">
    <test verbose="2" preserve-order="true" name="C:/Users/Harsh/AquaProjects/ttapractice">
        <classes>
            <class name="com.ttapractice.test.crud.AddUpdateBooking">
                <methods>
                    <include name="addUpdateBooking"/>
                </methods>
            </class>
            <class name="com.ttapractice.test.crud.CreateDelete">
                <methods>
                    <include name="postRequest"/>
                    <include name="deleteRequest"/>
                </methods>
            </class>
            <class name="com.ttapractice.test.crud.CreateDeleteGet">
                <methods>
                    <include name="getToken"/>
                    <include name="postRequest"/>
                    <include name="deleteRequest"/>
                    <include name="getBooking"/>
                </methods>
            </class>
            <class name="com.ttapractice.test.crud.GETRequest">
                <methods>
                    <include name="getAllRecord"/>
                </methods>
            </class>
            <class name="com.ttapractice.test.crud.POSTRequest">
                <methods>
                    <include name="getToken"/>
                    <include name="postRequest"/>
                </methods>
            </class>
            <class name="com.ttapractice.test.crud.PUTRequest">
                <methods>
                    <include name="getToken"/>
                    <include name="postRequest"/>
                    <include name="putRequest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>